.spyproject/
.idea/
.pytest_cache/
dist/
*.egg-info/
tests_sim/
/.spyproject/
/tests/SS/
/formatted_with_black/
/formatted_manually/
/tests_data/
/tests_additional_scripts/
/tests/notWorking/
/sim_test/
